<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center">
                    <img alt="Angular" class="img-fluid home-logo" src="assets/img/maps-icon.svg" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big">Geochemistry</h1>
                <p class="lead">Admin + <strong>Geology Tools</strong>
                    <br> <small>One framework. Mobile & desktop.</small>
                </p>
                <p><a rel="noopener noreferrer" class="btn btn-primary btn-lg" href="https://angular.io/" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Administration</h3>
                </div>
                <div class="card-body">
                  Admin Exploration Modules has been created with a very specific focus in mind - to support the process of exploration and production of hydrocarbons.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Exploration</h3>
                </div>
                <div class="card-body">
                  Our technical and sector-specific knowledge makes us the perfect choice for companies that want to produce high quality technical material, encompassing all phases of the exploration and development process.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Support</h3>
                </div>
                <div class="card-body">
                  In addition to our technical strengths we also have the financial knowledge that enables us to be the perfect link between the technical feasibility and the economic viability of your projects.
                </div>
            </div>
        </div>
    </div>
</div>
